{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [ 
    "import"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.dev.js"
      }
    }
  }
}
